<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>S-atmp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ServerTestProject</servlet-name>
    <servlet-class>servlet.ServerTestProject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServerTestProject</servlet-name>
    <url-pattern>/TP/*</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>ServUser</servlet-name>
  	<servlet-class>servlet.ServUser</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ServUser</servlet-name>
  	<url-pattern>/User/*</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>ServTestScript</servlet-name>
  	<servlet-class>servlet.ServTestScript</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ServTestScript</servlet-name>
  	<url-pattern>/TS/*</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>ServTestReport</servlet-name>
  	<servlet-class>servlet.ServTestReport</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ServTestReport</servlet-name>
  	<url-pattern>/TR/*</url-pattern>
  </servlet-mapping>
   <servlet>
  	<servlet-name>ServTestTask</servlet-name>
  	<servlet-class>servlet.ServTestTask</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ServTestTask</servlet-name>
  	<url-pattern>/TT/*</url-pattern>
  </servlet-mapping>
</web-app>